In [1]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import numpy as np
import pandas as pd

In [ ]:

with open('scaler.pkl','rb') as f:
   scaler= pickle.load(f)

with open('label.pkl','rb') as f:
   label=pickle.load(f)

with open('onehot.pkl','rb') as f:
   onehot=pickle.load(f)

model=load_model('ANN_model.keras')

In [35]:
data = {
    'CreditScore': 650,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 42,
    'Tenure': 3,
    'Balance': 50000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 60000
}
data= pd.DataFrame([data])
data

   CreditScore Geography Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          650    France   Male  ...          1               1            60000

[1 rows x 10 columns]

In [36]:
geo_encode = onehot.transform(data[['Geography']]).toarray()
geo_encode_df=pd.DataFrame(geo_encode) #,columns=onehot.get_feature_names_out(['Geography']
geo_encode_df

     0    1    2
0  1.0  0.0  0.0

In [37]:
data['Gender']=label.transform(data['Gender'])
data_final= pd.concat([data,geo_encode_df],axis=1)
data_final.drop(['Geography'],axis=1,inplace=True)

In [38]:
data_final

   CreditScore  Gender  Age  Tenure  ...  EstimatedSalary    0    1    2
0          650       1   42       3  ...            60000  1.0  0.0  0.0

[1 rows x 12 columns]

In [ ]:

data_final.columns = data_final.columns.astype(str)

input_data = scaler.transform(data_final)
input_data

array([[-0.01709861,  0.91324755,  0.29493847, -0.69539349, -0.41792108,
         0.80843615,  0.64920267,  0.97481699, -0.70296551,  1.00150113,
        -0.57946723, -0.57638802]])

In [41]:
prediction = model.predict(input_data)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 406ms/step

array([[0.03372243]], dtype=float32)

In [42]:
if prediction[0][0]>0.5:
    print("The customer is likely to leave the bank.")
else:
    print("The customer is likely to stay with the bank.")

The customer is likely to stay with the bank.